build/
sdkconfig
sdkconfig.old
esp_idf
.vscode/
docs/zh_CN/md/_build
docs/en/md/_build
docs/zh_CN/md/sphinx-warning-log.txt
docs/__pycache__
docs/en/md/sphinx-warning-log.txt

# MacOS directory files
.DS_Store

docs/zh_CN/rst/_build
docs/en/rst/_build
docs/zh_CN/rst/sphinx-warning-log.txt
docs/en/rst/sphinx-warning-log.txt
